html, body{
    background-color: #21232a;
    color: white;
    font-family: 'Helvetica', Courier, monospace;
    font-size: 1,3rem;
    padding: 15rem;
}
button{   
    font-family: 'Helvetica', Courier, monospace;
    font-size: 1,3rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}